html {
    font-size: 20pt;
}

* {
    box-sizing: border-box;
}

body {
    background-color: palegreen;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    height: 100vh;
}

.left {
    width: 50%;
    min-width: 14.0625rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.sketch {
    width: 50%;
    min-width: 14.0625rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 5vmin 0;
    padding: 3.5vmax;
    font-size: 5vmax;
    font-weight: bold;
    color: rgb(104, 247, 104);
    text-shadow: 0.4vmin 0.4vmin rgb(69, 158, 69);
    text-decoration: 0.3vmax underline wavy;
    text-underline-offset: 0.3vmax;
    letter-spacing: 0.4vmin;
    background-color:rgb(230, 250, 230);
    border: 0.2rem solid rgb(104, 247, 104);
    border-radius: 50%;
    
}

h3 {
    margin: 0 0 5vmin 0;
    color:rgb(69, 158, 69);
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}

.borders {
    width: 33vw;
    min-width: 13rem;
    height: 39vw;
    min-height: 15.5rem;
    background: rgb(2, 151, 2);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.grid-container {
    background-color: white;
    display: grid;
    width: 30vw;
    min-width: 12rem;
    height: 30vw;
    min-height: 12rem;
    margin-bottom: 0;
}

img {
    width: 33vw;
    min-width: 13rem;
}

.small-div {
    background-color: white;
    box-shadow: inset 0.5px 0.5px rgb(213, 247, 213), inset -0.5px -0.5px rgb(213, 247, 213);
}

.selections {
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 5%;
}

.options,
.functions {
    width: 14rem;
    display: flex;
    flex-wrap: wrap;
    box-shadow: inset -5px -5px 5px 5px palegreen, inset 5px 5px 5px 5px palegreen;
}

.functions {
    justify-content: space-around;
    background-color:rgba(69, 158, 69, 0.322);
    padding: 0.75rem 0;
}

.options {
    justify-content: space-between;
}

#pixels {
    color: rgb(69, 158, 69);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(69, 158, 69);
    font-weight: bold;
    letter-spacing: 0.2rem;
    background-color: rgb(201, 247, 201);
    border-left-color:rgb(201, 247, 201);
    border-top-color:rgb(201, 247, 201);
    border-bottom-color:rgb(49, 252, 49);
    border-right-color:rgb(49, 252, 49);
}

#pixels:hover {
    background-color:rgb(105, 248, 105);
    border-left-color:rgb(105, 248, 105);
    border-top-color:rgb(105, 248, 105);
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.opt {
    display: none;
}

#clear {
    background-color:rgb(69, 158, 69);
    color: white;
    border-left-color:rgb(2, 151, 2);
    border-top-color:rgb(2, 151, 2);
    border-bottom-color:rgb(49, 252, 49);
    border-right-color:rgb(49, 252, 49);
    display: none;
}

#clear:hover {
    background-color:rgb(104, 247, 104);
}

#colors {
    color: white;
    background-image: linear-gradient(to right, #ff008c, orange, yellow, lime, cyan, #c567fc, hotpink);
    border-color: transparent;
}

#colors:hover {
    border-color: white;
}

#original {
    background-color: white;
    color: lime;
    border-color: transparent;
}

#original:hover {
    border-color: lime;
}

#darken {
    font-weight: bold;
    color: black;
    background-image: linear-gradient(to right, white, grey, white);
    border-color: transparent;
}

#darken:hover {
    color: white;
    background-image: linear-gradient(to right, black, grey, black);
}
