body {
    background-color: palegreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pixels {
    font-size: 20px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #34fc34;
    border-radius: 5%;
}

.grid-container {
    width: 400px;
    height: 400px;
    margin: 20px;
    border: 1px solid black;
    display: grid; 
}

.small-div {
    background-color: white;
    border: 1px solid palegreen;
}


